input {
    margin: 10px;
    padding: 5px 10px;
    font-size: 20px;
}

.FormTask {
    font-size: 20px;
}

.FormTask button {
    margin: 10px;
    padding: 5px 10px;
    font-size: 18px;
    text-transform: uppercase;
    background-color: rgba(6, 113, 235, 0.513);
    border: 2px solid rgba(6, 113, 235, 0.774);
}

#TaskButton{
    padding: 2px;
    margin-left: 10px;
    background-color: rgba(6, 113, 235, 0.287);
    border: 2px solid rgba(6, 113, 235, 0.774);
}

div.active p{
    padding: 5px;
    margin: 10px;
    border: 1px solid rgba(6, 113, 235, 0.513);
}
