header{
    position: relative;
    overflow: hidden;
    border-bottom: 2px solid rgba(6, 113, 235, 0.513) ;
}

.row h2{
    text-align: center;
    font-weight: 600;
}

.row h3{
    font-size: 60px;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline 0.15em;
}

.row h3 {
    color: rgba(6, 113, 235, 0.513) ;
    text-underline-offset: 0.16em;
  }



.panelboczny{
    z-index: 1000;
    display: block;
    bottom: 30px;
    left: 10px;
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: rgba(6, 113, 235, 0.513);
    transition: width 500ms, transform 700ms;
  
}

.GitHub_Panel:active,
.GitHub_Panel:visited{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: white;
}

.panelboczny img{
    position: relative;
    top: -5px;
    left: -5px;
    width: 60px;
    height: 60px;
}

.panelboczny:hover{
    width: 130px;
  
  }
  
  .panelboczny:hover:after {
    animation-duration: 1400ms;
    animation-name: slidein;
    transition: transform 0.5s;
    transform: skewX( -5deg );
    content: " Mój GitHub ";
    position:absolute;
    top: 10px;
    font-size: 16px;
    left: 52px;
    z-index: 1000;
  }

.socialmedia img{
    border-radius: 50px;
}

.boy img{
    position: absolute;
    width: 600px;
    height: 800px;
    right: 200px;
    bottom: 0;
    z-index: 4;
}


.box13 {
    position: absolute;
    border-radius: 7px;
    width: 1400px;
    height: 400px;
    background:rgba(6, 113, 235, 0.513);
    right: -650px;
    top: 20px;
    transform: rotateZ(230deg);
  }

.BoxMain {
    width: 250px;
    height: 250px;
    position: absolute;
    right: 70px;
    transform: rotateZ(-10deg);
    background:rgba(6, 113, 235, 0.513);
    border-radius: 15px;

}
.BoxMain2 {
        width: 150px;
        height: 150px;
        position: absolute;
        right: 390px;
        margin-top: -40px;
        transform: rotateZ(30deg);
        background:rgba(6, 113, 235, 0.513);
        border-radius: 15px;
    }
    .BoxMain3 {
        width: 100px;
        height: 100px;
        position: absolute;
        right: 380px;
        margin-top: 150px;
        transform: rotateZ(150deg);
        background:rgba(6, 113, 235, 0.513);
        border-radius: 10px;
    }

.SkyText{
    opacity: 0;
    position: absolute;
    width: 450px;
    height: 500px;
    bottom:  205px;
    left: 355px;
    border: 2px solid rgba(6, 113, 235, 0.513);
    border-radius: 15px;
    animation: SkyText 1s ease forwards 2.9s;
}

.SkyBox{
    bottom: 300px;
    left: -80px;
    position: absolute;
    border-radius: 10px;
    width:250px;
    height:150px;
    background:rgba(6, 113, 235, 0.513);
    z-index: -1;
}

.SkyText p {
    font-size: 80px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

video{
    filter: brightness(95%);
}

p.knowtext{
position: relative;
width: 100%;
height: 100px;
top: 10px;
text-align: center;
color: rgb(6, 113, 235);
z-index: 10;
font-size: 80px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.cointerner-center{
    background-image: url("../images/sky.jpg");
    margin-top: 60px;
    padding: 50px;
    width: 100%;
    overflow:hidden;
    min-height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.row{
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.IconTech img{
    margin-top: 50px;
    margin-bottom: 40px;
    margin: 50px;
    width: 140px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.containerbox{
    margin-top: 50px;
    margin-bottom: 50px;
}

.col{
    margin-left: 60px;
    margin-right: 20px;
    min-width: 400px;
}

.BoxPicture img{
    margin: 50px;
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contener{
    font-size: 18px;
    color: rgb(119, 119, 119);
    font-family: 'Times New Roman', Times, serif;
    margin: 50px;
    width: 50vw;
}

.contener img{
    width: 50vw;
}

.cointerner-teach{
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
    padding: 50px;
    width: 100%;
    overflow:auto;
    min-height: 1000px;
    margin-bottom: 150px;
}

.todobox{
    margin-top: 10px;
    margin-left: 15%;
    position: relative;
    width: 80%;
    overflow:auto;
    min-height: 700px;
    border: 10px solid rgba(6, 113, 235, 0.513);
    border-radius: 20px;
}

.todo{
 width: 60%;
 height: 100%;
 position: relative;
 float: left;
 text-align: center;
 padding: 20px;
}

.done{
    width: 40%;
    height: 100%;
    position: relative;
    float: left;
    text-align: center;
    padding: 20px;
}

.doneTask{
    position: absolute;
    width: 60%;
    left: 104%;
    top: 160px;
    z-index: 4;
}

.styleDone{
    border: 1px solid rgba(6, 113, 235, 0.513);
    padding: 5px;
    margin: 5px;
}

.PanelToDo{
    padding: 25px;
    position: relative;
    top: 100px;
    width: 400px;
    height: 300px;
    border: 10px solid rgba(6, 113, 235, 0.513);
    border-radius: 15px;
}

.line1{
    position: absolute;
    bottom: 0;
    left: 400px;
    width: 2px;
    height: 0;
    background:rgba(6, 113, 235, 0.513);
    animation: line1 1s ease forwards 0.5s;
}

.line2{
    position: absolute;
    bottom: 100px;
    left: 400px;
    width: 0;
    height: 2px;
    background:rgba(6, 113, 235, 0.513);
    animation: line2 1s ease forwards 1.3s;
}

.line3{
    position: absolute;
    bottom: 100px;
    left: 450px;
    width: 2px;
    height: 0;
    background:rgba(6, 113, 235, 0.513);
    animation: line3 1s ease forwards 2.1s;
}

.line4{
    position: absolute;
    bottom: 350px;
    left: 0px;
    width: 0;
    height: 2px;
    background:rgba(6, 113, 235, 0.513);
    animation: line4 1s ease forwards 0.5s;
}

.line5{
    position: absolute;
    bottom: 252px;
    left: 200px;
    width: 2px;
    height: 0;
    background:rgba(6, 113, 235, 0.513);
    animation: line5 1s ease forwards 1.3s;
}

.line6{
    position: absolute;
    bottom: 352px;
    left: 180px;
    width: 2px;
    height: 0;
    background:rgba(6, 113, 235, 0.513);
    animation: line6 0.5s ease forwards 2.1s;
}

.line7{
    position: absolute;
    bottom: 252px;
    left: 200px;
    width: 0;
    height: 2px;
    background:rgba(6, 113, 235, 0.513);
    animation: line7 0.5s ease forwards 2.1s;
}

.line8{
    position: absolute;
    bottom: 252px;
    left: 300px;
    width: 2px;
    height: 0;
    background:rgba(6, 113, 235, 0.513);
    animation: line8 0.2s ease forwards 2.5s;
}

.line9{
    position: absolute;
    bottom: 310px;
    left: 300px;
    width: 0;
    height: 2px;
    background:rgba(6, 113, 235, 0.513);
    animation: line9 0.2s ease forwards 3s;
}

.line10{
    position: absolute;
    bottom: 450px;
    left: 180px;
    width: 0;
    height: 2px;
    background:rgba(6, 113, 235, 0.513);
    animation: line10 0.2s ease forwards 3s;
}


@keyframes SkyText {
    0%{
        height: 0;
    }
  
    100%{
        opacity: 1;
        height: 400px;
    }
      
  }

@keyframes line1 {
  0%{
      height: 0px;
  }

  100%{
      height: 100px;
  }
    
}

@keyframes line2 {
    0%{
        width: 0px;
    }
  
    100%{
        width: 50px;
    }
      
  }

  @keyframes line3 {
    0%{
        height: 0px;
    }
  
    100%{
        height: 105px;
    }
      
  }

  @keyframes line4 {
    0%{
        width: 0px;
    }
  
    100%{
        width: 200px;
    }
      
  }

  @keyframes line5 {
    0%{
        height: 0px;
        transform: rotateZ(180deg);
    }

    1%{
        transform: rotateZ(0deg);
    }
  
    100%{
        height: 100px;
        transform: rotateZ(0deg);
    }
      
  }

  @keyframes line6{
    0%{
        height: 0px;
    }
  
    100%{
        height: 100px;
    }
      
  }

  @keyframes line7 {
    0%{
        width: 0px;
    }
  
    100%{
        width: 100px;
    }
      
  }

  @keyframes line8{
    0%{
        height: 0px;
    }
  
    100%{
        height: 60px;
    }
      
  }

  @keyframes line9{
    0%{
        width: 0px;
    }
  
    100%{
        width: 55px;
    }
      
  }

  @keyframes line10{
    0%{
        width: 0px;
    }
  
    100%{
        width: 175px;
    }
      
  }