
.styles_typicalWrapper__1_Uvh{
  font-family: monospace;
  font-size: 25px;
  text-align: center;
  color: greenyellow;
  font-weight: 500;
}

.box13v2 {
    position: absolute;
    border-radius: 7px;
    width: 1400px;
    height: 640px;
    background:rgba(6, 113, 235, 0.513);
    right: -550px;
    top: 20px;
    transform: rotateZ(240deg);
  }

  a div.polaroid:hover{
    filter: grayscale(0) opacity(1);
    transform: rotateZ(2deg);
    cursor: pointer;
  }
  
  .polaroid {
    z-index: 4;
    position: relative;
    filter: grayscale(1) opacity(.9);
    transition: ease-in-out .3s;
    display: block;
    min-width: 300px;
    height: auto;
    margin-top: 50px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .polaroid img{
    max-width: 100%;
    min-width: 300px;
    height: auto;
  }

  div.container {
    z-index: 3;
    text-align: center;
    padding: 10px 20px;
  }

  .boxsky{
    top: 2000px;
    left: 1vw;
    position: absolute;
    border-radius: 15px;
    width:25vw;
    height:10vh;
    border: 10px solid rgba(6, 113, 235, 0.411);
    background-color: white;
    z-index: 1;
    transform: rotateZ(15deg);
}

.section-information{
  background-color: rgb(247, 247, 247);
  width: 100%;
  height: 800px;
}

.menuproducts{
  position: absolute;
  z-index: 10;
  top: 20%;
  width: 100%;
  height: 100vh;
}

.WinProducts{
  animation: 3s ease forwards 10s; 
  position: relative;
  width: 800px;
  height: 500px;
  margin: 0 auto;
  padding: 2em;
  top: 5%;
  background-color: rgba(6, 113, 235, 0.411);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 40px 12px;
  border-radius: 5px;
}
