div.app{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    color: #222;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    flex-basis: 100vh;
}

section{
    flex-basis: 100vh;
}

footer{
    height: 50px;
    background-color: #222;
    padding: 50px;
    text-align: center;
    text-transform: uppercase;
}

